* {
  font-family: 'Work Sans';
}

/* Banner Design */
.banner {
  position: 100%;
}

.container {
  position: relative;

}

.bannertext {
  position: absolute;
  top: 150px;
  left: 900px;
  margin: auto;
}

.bannertitle {
  font-size: 50px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  width: 350px;


}

.bannerdes {
  text-align: right;
  color: #444343;
  font-size: 15px;
  font-weight: 100px;
  width: 350px;

}

.btn {
  color: white;
  font-weight: 700;
  font-size: 20px;
  height: 70px;
  width: 200px;
  background-color: #FD6E0A;
  border-radius: 10px;
  border: 0;




}

.btndiv {
  padding-left: 150px;
}

/* Failure section */

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

.failurediv {
  display: flex;
  margin-top: 40px;
  gap: 80px;
  padding: 130px;
}

.failuretext {
  margin-top: 250px;
}

.failuretitle {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #151414;
}

.failuredes {
  color: #737171;
  font-size: 16px;
  font-weight: 400px;
  text-align: left;
  justify-content: left;
  font-style: normal;
}

.failureul {
  position: absolute;
  right: 245px;
  font-size: 15px;
  color: #646262;
  font-weight: 100px;

}


/* Plan Design */
.plancontainer {
  display: flex;
  gap: 50px;
  justify-items: center;
  padding: 50px 100px;
  margin-top: 10px;
  margin-left: 50px;
}

.plantitle {
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;

}

.plan {
  padding: 10px;
  text-align: center;
}

.planname {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
  justify-content: center;
  
}

.planimg {
  align-items: center;
}
.plandes{
  color: #646262;
}

/* botoom banner design */
.bbdiv {
  display: flex;
  margin-top: 100px;
  justify-content: center;

}

.bbdiv2 {
  position: relative;
}

.bbimg {
  position: absolute;
  top: 0;
  left: 0;
}

.bbtext {
  padding-left: 50px;
  font-size: 40px;
  width: 320px;
  color: white;
}

.btn2 {
  color: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  margin-left: 50px;

}

/* Footer */
.footersection {
  display: flex;
  background-color: #151414;
  ;
  margin-top: 100px;
}

.footerdiv {
  color: white;
  padding: 100px;

}

.footerdes {
  font-size: 15px;
  width: 500px;

}

.footertitle {
  font-size: 30px;
}

.footerimg {
  margin-right: 10px;
}

.footercontact {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 30px;
}

.footerdiv2 {
  color: white;
  padding: 100px;
}

.email2 {
  margin-bottom: 20px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
  border-radius: 10px;
}
.btn3 {
  color: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 30px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
}